* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #343A40;
    font-family: "Chau Philomene One", sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
}

.contaner {
    max-width: 1040px;
    /* min-height: 100svh; */
    width: 1040px;
}

/* --------------------header----------------------- */

nav {
    top: 0;
    width: 100%;
    padding: 12px;
    max-width: 1040px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 1px solid #343A401F;
    position: fixed;

}

nav div {
    gap: 12px;
    display: flex;
    align-items: center;
}

.serch {
    padding: 8px;
    border-radius: 4px;
    margin: 0px 10px;
    border-color: #7749F826;
    background-color: #7749F826;
}

.serch input {
    padding: 6px;
    background-color: transparent;
    border: none;
}

.cercle::after {
    height: 20px;
    right: 16px;
    top: 12px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    /* ???????????????????????????? */
    content: "";
    position: absolute;
    color: #FFFFFF;
    background-color: #7749F8;
}

/*---------------- Products page main ----------*/

main {
    margin-top: 90px;
}

.products-page {
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.products-page .cards {
    width: 200px;
    border-radius: 12px;
    height: auto;
    display: flex;
    border: 1px solid #DEE2E6;
    flex-direction: column;
}

.products-page .cards .div-img {
    width: 100%;
    border-radius: 12px;
}

.products-page .cards .div-img img {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.products-page .cards .text-div {
    padding: 12px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;

}

.price {
    color: #7749F8;
    font-size: large;
}

.prem-ptn {
    font-size: 12px;
    border: none;
    border-radius: 4px;
    height: 30px;
    color: #FFFFFF;
    background-color: #7749F8;
}

.remove-ptn {
    font-size: 12px;
    border: none;
    border-radius: 4px;
    height: 30px;
    color: #FFFFFF;
    background-color: #DC3545;
}


/* ------------single product page ----------- */

.singal-prodact {
    padding: 48px 10px;
    display: flex;
    gap: 24px;
}

.singal-prodact .big-img-div {
    width: 50%;
    height: auto;
}

.singal-prodact .big-img-div img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.singal-prodact .text-div {
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.singal-prodact .text-div .prices {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.price {
    font-size: 32px;

}

.discount {
    font-size: 16px;
}

.singal-prodact p {
    font-size: 14px;
    margin-bottom: 32px;
}

.btns {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 56px;
    margin-bottom: 32px;
}

.opsite-ptn {
    width: 50%;
    height: auto;
    border-radius: 6px;
    border: 1px solid #7749F8;
    color: #7749F8;
    background-color: #FFFFFF;
}

.btns .prem-ptn {
    width: 50%;
    height: auto;
    border-radius: 6px;
    border: none;
}

.info {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    /* height: auto; */
    width: 100%;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.col {
    display: flex;
    flex-direction: column;
    
}

/* -------------- shopping cart------------------- */
.shopping-card{
    width: 100%;
    height: auto;
    display: flex;
}
.in-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.stor-items{
    display: flex;
    flex-direction: column;
    overflow:scroll;
     height:292px;
     width: 100%;

}
.stor-item {
    width: 100%;
   
    height: 122px;
    
    padding: 12px;
     border-bottom:1px solid #343A401F; 
   
    display: flex;
    justify-content: space-between;
}

.left-site {
    display: flex;
}

.stor-item .img-div {
    margin-right: 20px;
}

.stor-item .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.del-item {
    background-color: #FBFBFB;
    margin-left: 40px;
    border: none;
}

.counter {
    display: flex;
    gap: 6px;
    width: 66px;
    
}

.minus-btn {
    width: 20px;
    height: 20px;
    background-color: #FBFBFB;
    border: none;
}

.number {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #D9D9D9;
}

.plus-btn {
    width: 20px;
    height: 20px;
    background-color: #FBFBFB;
    border: none;
}

/* ------------------------------------ */

.calc {
    padding:36px 48px ;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.calc h4 {
    margin-bottom:40px ;
}

.space-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.check-out {
margin-top: 48px;
width: 100%;
height: 56px;
border-radius: 6px;
border: none;
color: #FFFFFF;
background-color: #7749F8;
}








/* --------------------footer------------------------ */

footer {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #343A401F;
}

footer div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

footer label {
    margin-bottom: 16px;
    font-size: 20px;
}

footer li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #343A40CC;
}

